.product-font {
    font-size: 14px;
    margin-left: 4px;
    margin-right: 4px;
}

.product-default {
    color: inherit;
}

.product-increase {
    background-color: rgba(0,0,0,0.1);
    color: limegreen;
}

.product-decrease {
    background-color: rgba(0,0,0,0.1);
    color: red;
}

#product-button-override {
    padding-left: 4px;
    color: #666666;
}