.arbitrage {
    background-color: #222629;
    color: #aaaaaa;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.arbitrage-default {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.81);
    font-size: 16px;
}